@page "/VisualizacionVenta/{NumFacturaVenta:int}"


<div class="container-fluid">
    <div class="card">
        <div class="card-header hideWhenPrint">
            <div class="float-right">
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="Print" Icon="backup">Imprimir</RadzenButton>
                <a href="/ListaVentas" class="btn btn-secondary">Volver</a>
            </div>
            <h4>Visualización de Venta</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Numero de Venta:" />
                        </div>
                        <div class="col-md-6">
                            <RadzenTextBox ReadOnly="true" Style="width:120px" Value="@ventaModel.NumeroVenta.ToString()" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Fecha:" />
                        </div>
                        <div class="col-md-6">
                            <RadzenDatePicker DateFormat="d" ReadOnly="true" TValue="DateTime" Value=@ventaModel.FechaVenta Style="width: 120px;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <RadzenFieldset Text="Informacion de Cliente">
                        @*Nombre*@
                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel Text="Nombre:" />
                            </div>
                            <div class="col-md-8">
                                <RadzenLabel Text="@ventaModel.Cliente.NombreCliente" />
                            </div>
                        </div>
                        @*Empresa*@
                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel Text="Direccion:" />
                            </div>
                            <div class="col-md-8">
                                <RadzenLabel Text="@ventaModel.Cliente.DireccionCliente" />
                            </div>
                        </div>
                        @*Telefono*@
                        <div class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel Text="Telefono:" />
                            </div>
                            <div class="col-md-8">
                                <RadzenLabel Text="@ventaModel.Cliente.TelefonoCliente" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
            </div>
            <RadzenFieldset AllowCollapse="true">
                <HeaderTemplate>
                    <b>Lista de Articulos Vendidos</b>
                </HeaderTemplate>
                <ChildContent>
                    <RadzenDataGrid AllowFiltering="true"
                                    Style="cursor:pointer"
                                    AllowPaging="true"
                                    AllowColumnResize="true"
                                    PageSize="5"
                                    AllowSorting="true"
                                    Data="@ventaModel.ListaDetalleVenta.ToList()"
                                    TItem="TblDetalleVentaArticulo"
                                    Count="@ventaModel.ListaDetalleVenta.Count()">
                        <Columns>
                            <RadzenDataGridColumn TItem="TblDetalleVentaArticulo" Resizable="false" Sortable="false" Filterable="false" Property="Articulo.NombreArticulo" Title="Nombre Articulo" Type="typeof(string)" />
                            <RadzenDataGridColumn TItem="TblDetalleVentaArticulo" Resizable="true" Sortable="false" Filterable="false" Property="DetallesArticulo.DetallesArticulo" Title="Detalles" Type="typeof(string)" />
                            <RadzenDataGridColumn TItem="TblDetalleVentaArticulo" Resizable="false" Sortable="false" Filterable="false" Property="Articulo.DescripcionArticulo" Title="Descripcion Articulo" Type="typeof(string)" />
                            <RadzenDataGridColumn TItem="TblDetalleVentaArticulo" Resizable="false" Width="80px" Filterable="false" Property="Cantidad" Title="Cant." Type="typeof(int?)" />
                            <RadzenDataGridColumn TItem="TblDetalleVentaArticulo" Resizable="false" Width="80px" Sortable="false" Filterable="false" Property="Descuento" Title="Desc." Type="typeof(decimal?)" />
                            <RadzenDataGridColumn TItem="TblDetalleVentaArticulo" Resizable="false" Width="100px" Filterable="false" Property="DetallesArticulo.PrecioTotal" Title="Total" Type="typeof(decimal)" />
                        </Columns>
                    </RadzenDataGrid>
                </ChildContent>
                <SummaryTemplate>
                    <b>Total Articulos : @ventaModel.ListaDetalleVenta.Count()</b>
                </SummaryTemplate>
            </RadzenFieldset>
            <hr />
            <div class="row">
                <div class="col-6">
                    <div class="row mt-2">
                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Precio de Venta:" />
                        </div>
                        <div class="col-md-6">
                            <RadzenTextBox ReadOnly="true" Style="width:120px" Value="@("C$ "+ventaModel.PrecioVenta.ToString())" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="IVA Aplicado:" />
                        </div>
                        <div class="col-md-6">
                            <RadzenTextBox ReadOnly="true" Style="width:120px" Value="@ventaModel.IvaVenta.ToString()" />
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row mt-2">
                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Articulos:" />
                        </div>
                        <div class="col-md-6">
                            <RadzenTextBox ReadOnly="true" Style="width:120px" Value="@ventaModel.ListaDetalleVenta.Count().ToString()" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6 align-items-center d-flex">
                            <RadzenLabel Text="Monto Recibido:" />
                        </div>
                        <div class="col-md-6">
                            <RadzenTextBox ReadOnly="true" Style="width:120px" Value="@ventaModel.RecibidoVenta.ToString()" />
                        </div>
                    </div>
                    @*<div class="row mt-2">
                            <div class="col-md-6 align-items-center d-flex">
                                <RadzenButton Click="@aceptclick" ButtonStyle="ButtonStyle.Success">Aceptar</RadzenButton>
                            </div>
                            <div class="col-md-6">
                                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="backup">Imprimir</RadzenButton>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

@inject NavigationManager Navegacion
@inject VisualizacionService ServiciosVisualizacion
@inject IJSRuntime jsRuntime
@code {
    [Parameter]
    public int NumFacturaVenta { get; set; } = 0;
    public TblVentaArticulo ventaModel;
    protected override void OnInitialized()
    {
        ventaModel = ServiciosVisualizacion.GetVentaArticulo(NumFacturaVenta);
    }

    void aceptclick()
    {
        Navegacion.NavigateTo("/");

    }

    private void Print()
    {
        jsRuntime.InvokeVoidAsync("Print");
    }

}
